/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}



/*
    CSS
 */

@font-face {
    font-family: myFirstFont;
    src: url(COLWELL_.ttf);
}

@font-face {
    font-family: mySecondFont;
    src: url(Natalisa_Regular_Demo.otf);
}

@font-face {
    font-family: myThirdFont;
    src: url(StarellaScript_PERSONAL_USE.ttf);
}

/*@font-face {
    font-family: myFirstFont;
    src: url(sansation_bold.woff);
    font-weight: bold;
}*/

header {
    font-family: myFirstFont, "Proxima Nova", "brandon-grotesque", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: darkblue;
    height: 18vh;
    background: rgb(0,0,139);
    background: linear-gradient(90deg, rgba(0,0,139,1) 71%, rgba(0,212,255,1) 100%);
    z-index: 99;
}
.topnav{
    visibility: hidden;
}

#head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
}

#name{
    font-size: 35px;
}

#menu{
    display: flex;
    flex-direction: row;
}

.item{
    margin-right: 15px;
    font-size: 15px;
}
.item a{
    color: #FFFFFF;
    padding: 5px;
    text-decoration: none;
}
.item a:hover{
    color: darkblue;
    background-color: white;
}

.bg_slider {
    --initialTextColor: #FFF;
    --slideTextColor: #272838;


    --initialBgColor: #00008b;
    --slideBgColor: #FFF;

    color: var(--initialTextColor);

    background-image: linear-gradient(90deg,
    var(--initialBgColor) 0%,
    var(--initialBgColor) 50%,
    var(--slideBgColor) 50%,
    var(--slideBgColor) 100%);
    background-size: 200%;
    transition: background-position .3s cubic-bezier(.47, .1, 1, .63),
    color .2s linear;
    transition-delay: 0.0s, 0.15s;
}

.bg_slider:hover {
    color: var(--slideTextColor);
    cursor: pointer;
    background-position: -100% 100%;
}

#triangle{
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
}
.triangle-down {
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 50px solid darkblue;
    align-content: center;
}


/*#contenu{
    width: 99vw;
    height: 75vh;
    border: darkblue solid 10px;
    border-top: none;
    display: flex;
    justify-content: center;
    align-items: center;
}*/

#contenu_1{
    width: 97.6vw;
    height: 82vh;
    border: darkblue solid 10px;
    border-top: none;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border-top: none;
}
#outerLayer1{
    width: 15vw;
    margin-left: auto;
    margin-right: auto;
    border: darkblue solid 10px;
    padding: 10px;
    transform: rotate(-20deg);
    margin-bottom: 60px;
}

#outerLayer2{
    border: darkblue solid 5px;
    padding: 5px;
    transform: rotate(20deg);
}

#outerLayer1:hover{
    transform: rotate(0deg);
    margin-bottom: 15px;
}
#outerLayer2:hover{
    transform: rotate(0deg);
}

#profile_photo img{
    width: 13.7vw;
    height: 30vh;
}

#nom h1{
    font-family: mySecondFont;
    font-size: 50px;
    color: darkblue;
    text-align: center;
}


.frame{
    padding: 15px;
    position: relative;
}
.frame:after,
.frame:before {
    border: 5px solid darkblue;
    bottom: 0;
    content: '';
    position: absolute;
    top: 0;
    width: 5%;
}
.frame:after {
    border-left: none;
    right: 0;
}

.frame:before {
    border-right: none;
    left: 0;
}

#info{
    font-family: myThirdFont;
    font-size: 50px;
    color: darkblue;
    text-align: center;
}


/* Style the header */

/* Page content */
.content {
    padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */


#contenu_2{
    height: 90vh;
    background: rgb(13,4,164);
    background: linear-gradient(90deg, rgba(13,4,164,1) 0%, rgba(0,212,255,1) 100%);
    border: white 10px solid;

}



#contenu_3{
    width: 97.6vw;
    height: 82vh;
    border: darkblue solid 10px;
    border-top: none;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border-top: none;
}


.row {
    display: flex;
    flex-direction: row;
}

.collumn {
    display: flex;
    flex-direction: column;
}



.container {
    position: relative;
    padding: 5px;
}

.box {
    background: var(--bg2);
    margin: 0.2vh;
}

.box-1 {
    border: 0.4vh solid;
    border-image-source: linear-gradient(90deg, rgba(13,4,164,1) 0%, rgba(0,212,255,1) 100%);
    border-image-slice: 1;
}
.small {
    width: 25vw;
    height: 22vh;
}

.long {
    width: 15vw;
    height: 46.3vh;
}
.large {
    width: 41.25vw;
    height: 25vh;
}
.normal {
    width: 30vw;
    height: 35.65vh;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
}

.small .image {
    width: 25vw;
    height: 22vh;
}

.middle {
    width: 100%;
    height: 100%;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.title {
    font-family: myFirstFont;
    font-size: 25px;
    margin-bottom: 50px;
    color: white;

}

.project_name {
    font-family: mySecondFont;
    font-size: 40px;
    color: white;
}

.tags {
    display: flex;
    flex-direction: row;
}

.tag {
    font-family: Tahoma;
    font-size: 15px;
    margin: 30px;
    margin-top: 100px;
    padding: 5px;
    border: transparent;
    border-radius: 5px;
    background-color: lightpink;
    color: white;
}

.small .tag {
    margin: 10px;
    margin-top: 40px;
}


.long .tag {
    margin: 7px;
    margin-top: 170px;
}

.large .tag {
    margin: 10px;
    margin-top: 40px;
}

.container:hover .image {
    opacity: 0.4;
}

.container:hover {
    background: rgb(13,4,164);
    background: linear-gradient(90deg, rgba(13,4,164,1) 0%, rgba(0,212,255,1) 100%);
}

.container:hover .middle {
    opacity: 1;
}

.contenu_4 {
    height: 90vh;
    background: rgb(13,4,164);
    background: linear-gradient(90deg, rgba(13,4,164,1) 0%, rgba(0,212,255,1) 100%);
    border: white 10px solid;
    display: flex;
    justify-content: center;
}

/** Slider **/

.untitled {
    position: absolute;
    height: 30vh;
    width: 50vw;
    -webkit-animation: rotateHue infinite 20s linear;
    animation: rotateHue infinite 20s linear;
    -webkit-animation-delay: 0.625s;
    animation-delay: 0.625s;
    margin-top: 30px;
}
@-webkit-keyframes rotateHue {
    0% {
        -webkit-filter: hue-rotate(0deg);
        filter: hue-rotate(0deg);
    }
    20% {
        -webkit-filter: hue-rotate(0deg);
        filter: hue-rotate(0deg);
    }
    25% {
        -webkit-filter: hue-rotate(90deg);
        filter: hue-rotate(90deg);
    }
    45% {
        -webkit-filter: hue-rotate(90deg);
        filter: hue-rotate(90deg);
    }
    50% {
        -webkit-filter: hue-rotate(180deg);
        filter: hue-rotate(180deg);
    }
    70% {
        -webkit-filter: hue-rotate(180deg);
        filter: hue-rotate(180deg);
    }
    75% {
        -webkit-filter: hue-rotate(270deg);
        filter: hue-rotate(270deg);
    }
    95% {
        -webkit-filter: hue-rotate(270deg);
        filter: hue-rotate(270deg);
    }
    100% {
        -webkit-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg);
    }
}
@keyframes rotateHue {
    0% {
        -webkit-filter: hue-rotate(0deg);
        filter: hue-rotate(0deg);
    }
    20% {
        -webkit-filter: hue-rotate(0deg);
        filter: hue-rotate(0deg);
    }
    25% {
        -webkit-filter: hue-rotate(90deg);
        filter: hue-rotate(90deg);
    }
    45% {
        -webkit-filter: hue-rotate(90deg);
        filter: hue-rotate(90deg);
    }
    50% {
        -webkit-filter: hue-rotate(180deg);
        filter: hue-rotate(180deg);
    }
    70% {
        -webkit-filter: hue-rotate(180deg);
        filter: hue-rotate(180deg);
    }
    75% {
        -webkit-filter: hue-rotate(270deg);
        filter: hue-rotate(270deg);
    }
    95% {
        -webkit-filter: hue-rotate(270deg);
        filter: hue-rotate(270deg);
    }
    100% {
        -webkit-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg);
    }
}
.untitled__shutters {
    position: absolute;
    height: 30vh;
    width: 100%;
    left: calc(50% - 15vh);
    top: calc(50% - 15vh);
    pointer-events: none;
    z-index: 2;
    -webkit-animation: rotateFrame 10s linear infinite;
    animation: rotateFrame 10s linear infinite;
}
@-webkit-keyframes rotateFrame {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes rotateFrame {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
.untitled__shutters:before, .untitled__shutters:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 50%;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    background-color: #b3401a;
    pointer-events: auto;
}
.untitled__shutters:before {
    bottom: 50%;
    -webkit-animation: openTop 5s infinite;
    animation: openTop 5s infinite;
}
@-webkit-keyframes openTop {
    0% {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
        animation-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
    }
    40% {
        -webkit-transform: translate3d(-50%, -65vmax, 0);
        transform: translate3d(-50%, -65vmax, 0);
        animation-timing-functon: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    }
    70% {
        -webkit-transform: translate3d(-50%, -65vmax, 0);
        transform: translate3d(-50%, -65vmax, 0);
        animation-timing-functon: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    }
    100% {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
        animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    }
}
@keyframes openTop {
    0% {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
        animation-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
    }
    40% {
        -webkit-transform: translate3d(-50%, -65vmax, 0);
        transform: translate3d(-50%, -65vmax, 0);
        animation-timing-functon: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    }
    70% {
        -webkit-transform: translate3d(-50%, -65vmax, 0);
        transform: translate3d(-50%, -65vmax, 0);
        animation-timing-functon: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    }
    100% {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
        animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    }
}
.untitled__shutters:after {
    top: 50%;
    -webkit-animation: openBottom 5s infinite;
    animation: openBottom 5s infinite;
}
@-webkit-keyframes openBottom {
    0% {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
        animation-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
    }
    40% {
        -webkit-transform: translate3d(-50%, 65vmax, 0);
        transform: translate3d(-50%, 65vmax, 0);
        animation-timing-functon: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    }
    70% {
        -webkit-transform: translate3d(-50%, 65vmax, 0);
        transform: translate3d(-50%, 65vmax, 0);
        animation-timing-functon: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    }
    100% {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
        animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    }
}
@keyframes openBottom {
    0% {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
        animation-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
    }
    40% {
        -webkit-transform: translate3d(-50%, 65vmax, 0);
        transform: translate3d(-50%, 65vmax, 0);
        animation-timing-functon: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    }
    70% {
        -webkit-transform: translate3d(-50%, 65vmax, 0);
        transform: translate3d(-50%, 65vmax, 0);
        animation-timing-functon: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    }
    100% {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
        animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    }
}
.untitled__slides {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #b3401a;
}
.untitled__slide {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-animation: showHideSlide infinite 20s steps(1);
    animation: showHideSlide infinite 20s steps(1);
}
@-webkit-keyframes showHideSlide {
    0% {
        opacity: 1;
        pointer-events: auto;
        z-index: 1;
    }
    25% {
        opacity: 0;
        pointer-events: none;
        z-index: -1;
    }
    100% {
        opacity: 0;
        pointer-events: none;
        z-index: -1;
    }
}
@keyframes showHideSlide {
    0% {
        opacity: 1;
        pointer-events: auto;
        z-index: 1;
    }
    25% {
        opacity: 0;
        pointer-events: none;
        z-index: -1;
    }
    100% {
        opacity: 0;
        pointer-events: none;
        z-index: -1;
    }
}
.untitled__slide:nth-child(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
.untitled__slide:nth-child(1) .untitled__slideBg {
    background-image: url("../images/projets/betisier.JPG");
}
.untitled__slide:nth-child(2) {
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
}
.untitled__slide:nth-child(2) .untitled__slideBg {
    background-image: url("../images/projets/carsat.JPG");
}
.untitled__slide:nth-child(3) {
    -webkit-animation-delay: 10s;
    animation-delay: 10s;
}
.untitled__slide:nth-child(3) .untitled__slideBg {
    background-image: url("../images/projets/lemon.JPG");
}
.untitled__slide:nth-child(4) {
    -webkit-animation-delay: 15s;
    animation-delay: 15s;
}
.untitled__slide:nth-child(4) .untitled__slideBg {
    background-image: url("../images/projets/wroom.JPG");
}
.untitled__slideBg {
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-color: #b3401a;
    background-blend-mode: hard-light;
    opacity: 1;
    z-index: -1;
    -webkit-animation: bgInOut 5s infinite;
    animation: bgInOut 5s infinite;
}
@-webkit-keyframes bgInOut {
    0% {
        -webkit-transform: rotate(-45deg) scale(1.1);
        transform: rotate(-45deg) scale(1.1);
        -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
        animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    33% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    66% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
        animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
    }
    100% {
        -webkit-transform: rotate(45deg) scale(0.9);
        transform: rotate(45deg) scale(0.9);
    }
}
@keyframes bgInOut {
    0% {
        -webkit-transform: rotate(-45deg) scale(1.1);
        transform: rotate(-45deg) scale(1.1);
        -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
        animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    33% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    66% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
        animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
    }
    100% {
        -webkit-transform: rotate(45deg) scale(0.9);
        transform: rotate(45deg) scale(0.9);
    }
}
.untitled__slideContent {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    color: white;
    font-family: "Abril Fatface", sans-serif;
    line-height: 0.8;
    letter-spacing: -0.025em;
    z-index: 2;
    opacity: 1;
    text-shadow: 0 0 0.5em rgba(179, 64, 26, 0.25);
    mix-blend-mode: lighten;
}
.untitled__slideContent span {
    display: block;
    font-size: 15vmin;
}

.button {
    font-family: 'Roboto Mono', sans-serif;
    text-decoration: none;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 2vmin;
    display: inline-block;
    position: relative;
    border: 3px solid white;
    box-shadow: -0.5vmin 0.5vmin 0 rgba(255, 255, 255, 0.5);
    background: transparent;
    margin-top: 5vmin;
    mix-blend-mode: lighten;
    color: white;
    padding: 2vmin 2vmin 1.8vmin 2vmin;
    letter-spacing: 0.1em;
    text-shadow: none;
    line-height: 1;
    -webkit-transform: translate3d(0.5vmin, -0.5vmin, 0);
    transform: translate3d(0.5vmin, -0.5vmin, 0);
    -webkit-transition: all 100ms linear;
    transition: all 100ms linear;
}
.button:hover {
    -webkit-transform: translate3d(1vmin, -1vmin, 0);
    transform: translate3d(1vmin, -1vmin, 0);
    box-shadow: -1vmin 1vmin 0 rgba(255, 255, 255, 0.5);
    background: white;
    color: black;
}
.button:active {
    -webkit-transform: translate3d(0px, 0px, 0);
    transform: translate3d(0px, 0px, 0);
    box-shadow: 0px 0px 0 rgba(255, 255, 255, 0.5);
}




.slideshow {
    list-style-type: none;
}

/** SLIDESHOW **/
.slideshow,
.slideshow:after {
    width: 40%;
    height: 30%;
}

.slideshow li span {
    position: absolute;
    width: 40%;
    height: 30%;

    margin-top: 40px ;

    color: transparent;
    background-size: cover;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 30s linear infinite 0s;
}

.slideshow li:nth-child(1) span {
    background-image: url("../images/projets/betisier.JPG");

}
.slideshow li:nth-child(2) span {
    background-image: url("../images/projets/carsat.JPG");
    animation-delay: 6s;
}
.slideshow li:nth-child(3) span {
    background-image: url("../images/projets/wroom.JPG");
    animation-delay: 12s;
}

@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
        animation-timing-function: ease-out;
    }
    17% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes titleAnimation {
    0% {
        opacity: 0;
    }
    8% {
        opacity: 1;
    }
    17% {
        opacity: 1;
    }
    19% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.no-cssanimations .cb-slideshow li span {
    opacity: 1;
}

#betisier{
    visibility: hidden;
    height: 0;
}


#lemon{
    visibility: hidden;
    height: 0;
}
